 /* root colors and font sizes */
 :root{
    --headline-grey:#5a5c69;
   --error-main-black: #454545;
   --error-message-black: #606060;
   --grey-border: #D4D4D4;
   --hover-grey: #E7E7E7;
   --blue-play :#277dae;
   --green-btn-txt-border : #2D505F;
   --main-blue: #2E93CC;
 }

body {
		font-family: "Chakra Petch", sans-serif;
	}
.bg-gradient-primary {
    background-color: var(--main-blue);
    background-image: linear-gradient(180deg, #2E93CC 10%, #0b76b2 100%);
}
.bg-primary {
    background-color: var(--main-blue);
}
.text-primary {
    color: var(--main-blue) !important;
}


.btn-primary,.btn-primary:active{
    background-color: var(--main-blue);
    box-shadow: 0 0 0 1px #2e93cc;
}

.btn-primary:hover, .btn-primary:focus{
    background-color: var(--main-blue);
    box-shadow: 0 0 0 1px #2e93cc, 0px 2px 14px 4px lightgray;
}
.btn-primary.disabled,
.btn-primary:disabled{
    background-color: #0680C4;
    border-color: #026eab;
}
.sidebar .sidebar-brand{
    font-size: 1.4rem;
}
#resultsContainer .table tr td:first-child {
    word-break: break-all;
}
#logo_text{
    font-size: 1.4rem !important;
}
.sidebar .sidebar-heading {
    font-size: .85rem;
}
.spin_bg {
    position: fixed;
    background-color: rgba(255,255,255,0.5);
    width: 100%;
    height: 100%;
}
#spinWrapper div{
    position: fixed;
    left: 50%;
    top: 50%;
}





  /* rest some styles */
    #btnCounterTxt, #btnCounter{
        width: fit-content;
        white-space: pre;
        /* white-space: break-spaces; */
    }

  .card-error-heading, .erro-heading-row-items li{
    list-style: none;
    padding: 0;
    margin: 0;
  }
  .error-container{
    line-height: 1.375rem;
  }
  .error-container a{
    text-decoration: none;
    color: inherit;
  }
  .error-container a:hover{
    color: inherit;
  }

.card.shadow{
    overflow: hidden;
}
  /* badges */
 .main-error-badge, .card-error-heading span:last-child{
    background-color: var(--error-main-black);
    color: white;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
 }

 .main-error-badge{
   height: 1.125rem;
   width: 1.25rem;
   margin: auto 0;
   line-height: 1.125rem;
 }


 /* errors */
  .erro-heading-row{
    padding: 0.75rem 0.75rem 0.75rem 1.25rem;
    font-size:0.75rem;
    color: var(--error-main-black);

  }
  .erro-heading-row-items{
    margin: 0;
    padding: 0;
    margin-left: auto;
  }

  .erro-heading{
    font-weight: 600;
    margin-right: 0.5rem;
    border-bottom: 1px var(--error-main-black) solid;
  }


  .collapsed .animate-chev{
  transform: rotatex(180deg);
  }


#collapseErrors{
   color: var(--error-message-black);
   font-size: 0.875rem;
 }
/* error heading */
.card-error-heading{
padding-left: 1rem;
}
/* error items */

 .card-error{
  padding-left: 1.5rem;
  padding-right: 0.75rem;
   margin: 0;

 }
 .card-error span{
   max-width: calc(100% - 6.7em);
 }
 .card-error span:last-child{
  margin-left: auto;
}
 .card-error span:first-child{
  border-left:1px var(--grey-border) solid;
}

/* , .card-error-heading span:first-child i */
 .card-error i, .card-error-heading span i{
   text-align: center;
   /* display: inline-block; */
  font-size: 1em;
  line-height: 100%;
  min-height: 1rem;
  min-width: 1rem;
 }
 .card-error-heading span:first-child{
   margin-right: 0.125rem;

 }
 .card-error-heading span:last-child{
  font-size: 0.625rem;
  margin: auto;
  margin-left: 0.375rem;
  width: 1rem;
  height: 1rem;
  line-height: 1rem;
 }
 .card-error span:first-child, .card-error-heading span:nth-child(2){
   margin-right: 0.375rem;
 }
 .card-error span:first-child{
  padding-left:1rem;
 }

 /* buttons */
 .buttons{
    min-width:10.75rem;
    min-height: calc(2rem + 2px);
    margin: 0;
    position: relative;
 }

 /* #results_btn */
 .btn-ver, #results_btn{
    position: absolute;
    justify-content: flex-start;
   border:0;
     top: 1px;
     min-height: 2rem;
  
 }
 .btn-ver{
    right: 1px;
    width: 9.875rem;
    /* min-width: 9.875rem; */
    box-shadow: 0 0 0 1px #2E93CC;
    z-index: 3;
 }

 #results_btn{
     
     box-shadow: 0 0 0 1px #2D505F;
     color: var(--green-btn-txt-border);
     left: 0px;
     opacity: 0;
     z-index: 0;
 }

 .btn-ver > span:first-child{
   margin-left: 0;
   margin-right: 0.5rem;
   background: var(--blue-play);
   min-width: 2rem;
   display: flex;
    justify-content: center;
 }
 
 .btn-ver > span+span, .btn-ver span i{
  height: min-content;
  margin: auto 0;
 }
 
  



  /* animate buttons on results */

   .btn-ver-animated{ 
       /* transform: translateX(calc(100% - 33px)); */
       width: 2rem;
       /* width: fit-content; */
       /* min-width: 0; */
   }
   .btn-ver-animated #btnCounterTxt, .btn-ver-animated span:last-child{
    opacity: 0;
    /* inline-size: min-content; */
    white-space:pre;
    overflow: hidden;
    margin: auto 0;
    /* width: 0; */
   

    }
   .btn-ver-animated span:first-child{
    /* opacity: 1; */
    margin: 0;
    /* min-width: 2rem; */
  
   }
 


 .buttons a span{
   white-space: nowrap;
  }


  /* helper classes */
  /* btn bg helper class */
  .btn-no-bg, .btn-no-bg:hover{
    background-color: transparent;
    color: var(--headline-grey);
  }
 
  .min-w-0{
      min-width: 0;
  }
 

  /* animations */
  .btn-ver, .buttons, .buttons a span ,.animate-chev, .buttons a{
    transition: box-shadow 0.2s, transform 0.5s,width 0.5s, opacity 0.5s, background-color 0.2s, color 0.2s ease-in-out;
  }

  /* hovers */
  .btn-no-bg:hover{
    background: none; 
  }





@media (min-width:768px) {
    .sidebar .nav-item .nav-link span {
        font-size: 1rem;
        display: inline;
    }
    .sidebar .nav-item .nav-link i {
        font-size: 1rem;
        margin-right: .25rem;
    }
    #solidity_editor, #spec_editor {
        height: 30rem;
    }
    .form-inline input{
        max-width: 150px;
    }
    .toast{
        min-width: 260px;
    }
}
@media (max-width: 768px){
    .form-inline .form-group{
        width: 100%;
    }
    #solidity_editor, #spec_editor {
        height: 10rem;
    }
    .toast{
        min-width: 120px;
    }
}

@media (min-width:992px){
    .modal-dialog{max-width:800px;}
}

.sidebar .nav-item .collapse{
    z-index: 5!important;
}
.navbar-nav .nav-links{
     margin-top: auto;
     margin-bottom: auto;
     font-size: 1.2rem;
}
.navbar-nav .nav-link{
     font-size: 1.2rem;
}
.custom-select{
    height: calc(1.5em + .5rem + 2px);
    padding: .25rem 1.5rem .25rem 0.8rem;
    font-size: .875rem;
    line-height: 1.5;
    border-radius: .2rem;
}
.invalid{
    border: 1px solid red;
}
footer.sticky-footer{
    padding: 1rem 0!important;
}
.toast{
    background-color: rgba(255,255,255,.95);
}