<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Certora Online Editor</title>
    <!-- Required meta tag -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Custom fonts -->
    <link href="../static/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Chakra+Petch:300,400,700" rel="stylesheet">

    <!-- Custom styles -->
    <link rel="stylesheet" href="../static/css/sb-admin-2.min.css" />
    <link rel="stylesheet" href="../static/css/additional-style.css" />
    <link rel="stylesheet" href="../static/css/jquery.spin.css" />
    <link rel="stylesheet" href="../static/css/reactStyle.css" />
</head>
<body id="page-top">
<!-- Hidden popup dialog that pops if failing to send contract for verification -->
<div class="modal fade" id="verifyMessageModal" tabindex="-1" role="dialog" aria-labelledby="verifyMessageModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content border-left-danger">
      <div class="modal-header">
        <h5 class="modal-title text-danger" id="verifyMessageModalLabel"></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="verifyMessageText"></div>
    </div>
  </div>
</div>

<!-- Hidden popup dialog that pops on an attempt to open a new spec file after making changes to previous one -->
<div class="modal fade" id="editMessageModal" tabindex="-1" role="dialog" aria-labelledby="editMessageModalLabel"
     aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content border-left-warning">
      <div class="modal-header">
        <h5 class="modal-title text-warning">Unsaved changes will be lost. Copy the Spec to clipboard?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-sm btn-success" id="copySpec">Copy</button>
        <button type="button" class="btn btn-sm btn-danger" id="discard">Discard</button>
        <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>

<div id="wrapper">
  <!-- Sidebar -->
  <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="https://www.certora.com">
      <img src="../static/img/CertoraLogo_Light_new.png" width="40" alt="Certora Logo">
      <div class="sidebar-brand-text mx-1" id="logo_text">CERTORA</div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item -->
    <li class="nav-item active">
      <span class="nav-link">
        <i class="fas fa-fw fa-tachometer-alt"></i>
        <span>Online Editor</span></span>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
      Examples
    </div>

    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item">
      <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo"
         aria-expanded="true" aria-controls="collapseTwo">
        <i class="fas fa-fw fa-user"></i>
        <span>Easy</span>
      </a>
      <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
          <h6 class="collapse-header">Beginner level:</h6>
          <a class="collapse-item examples" data-level="easy" data-folder="Bank" data-sol="BankBroken" data-spec="Bank" data-compiler="0.5.10" href="#">BankBroken</a>
          <a class="collapse-item examples" data-level="easy" data-folder="Bank" data-sol="BankFixed" data-spec="Bank" data-compiler="0.5.10" href="#">BankFixed</a>
          <a class="collapse-item examples" data-level="easy" data-folder="Invertible" data-sol="InvertibleBroken" data-spec="Invertible" data-compiler="0.5.10" href="#">InvertibleBroken</a>
          <a class="collapse-item examples" data-level="easy" data-folder="Invertible" data-sol="InvertibleFixed" data-spec="Invertible" data-compiler="0.5.10" href="#">InvertibleFixed</a>
        </div>
      </div>
    </li>

    <!-- Nav Item - Examples Collapse Menu -->
    <li class="nav-item">
      <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseThree"
         aria-expanded="true" aria-controls="collapseThree">
        <i class="fas fa-fw fa-user-graduate"></i>
        <span>Moderate</span>
      </a>
      <div id="collapseThree" class="collapse" aria-labelledby="headingUtilities"
           data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
          <h6 class="collapse-header">Intermediate Level:</h6>
          <a class="collapse-item examples" data-level="moderate" data-folder="Auction" data-sol="AuctionBroken" data-spec="Auction" data-compiler="0.5.10" href="#">AuctionBroken</a>
          <a class="collapse-item examples" data-level="moderate" data-folder="Auction" data-sol="AuctionFixed" data-spec="Auction" data-compiler="0.5.10" href="#">AuctionFixed</a>
        </div>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseFour"
         aria-expanded="true" aria-controls="collapseFour">
        <i class="fas fa-fw fa-user-ninja"></i>
        <span>Challenging</span>
      </a>
      <div id="collapseFour" class="collapse" aria-labelledby="collapseFour"
           data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
          <h6 class="collapse-header">Advanced Level:</h6>
          <a class="collapse-item examples" data-level="challenging" data-folder="Popsicle" data-sol="PopsicleBroken" data-spec="Popsicle" data-compiler="0.8.4" href="#">PopsicleBroken</a>
          <a class="collapse-item examples" data-level="challenging" data-folder="Popsicle" data-sol="PopsicleFixed" data-spec="Popsicle" data-compiler="0.8.4" href="#">PopsicleFixed</a>
        </div>
      </div>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
      Assistance
    </div>

    <!-- Nav Item - Documentation -->
    <li class="nav-item">
      <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages"
         aria-expanded="true" aria-controls="collapsePages">
        <i class="fas fa-fw fa-book"></i>
        <span>Documentation</span>
      </a>
      <div id="collapsePages" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
          <h6 class="collapse-header">Specification By Example:</h6>
          <a class="collapse-item" target="_blank" href="https://certora.atlassian.net/l/c/U1AsARqK">Bank</a>
          <a class="collapse-item" target="_blank" href="https://certora.atlassian.net/l/c/TkD72F2A">Iterable Map</a>
          <div class="collapse-divider"></div>
          <h6 class="collapse-header">Exercises:</h6>
          <a class="collapse-item" target="_blank" href="https://certora.atlassian.net/l/c/n3Ve4Q7X">Writing Simple Rules</a>
          <a class="collapse-item" target="_blank" href="https://certora.atlassian.net/l/c/4Ftg1LM8">Counterexamples</a>
          <div class="collapse-divider"></div>
          <h6 class="collapse-header">More:</h6>
          <a class="collapse-item" target="_blank" href="https://certora.atlassian.net/l/c/T50szH1S">Full documentation</a>
        </div>
      </div>
    </li>

    <!-- Nav Item - Support -->
    <li class="nav-item">
      <a class="nav-link" href="mailto:support@certora.com?subject=Demo">
        <i class="fas fa-fw fa-envelope"></i>
        <span>Send mail</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
      <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>

  </ul>
  <!-- End of Sidebar -->

  <!-- Content Wrapper -->
  <div id="content-wrapper" class="d-flex flex-column">

    <!-- Main Content -->
    <div id="content">

      <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow" id="brandNav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item mx-1">
            <a href="https://discord.gg/Z9wQfRqZYY" target="_blank" title="Discord" class="nav-link">
              <i class="fab fa-discord fa-fw"></i></a>
          </li>
          <li class="nav-item mx-1">
            <a href="https://forum.certora.com" target="_blank" title="Discourse Forum" class="nav-link">
              <i class="fab fa-discourse fa-fw"></i></a>
          </li>
          <li class="nav-item mx-1">
            <a href="https://medium.com/certora" target="_blank" title="Medium" class="nav-link">
              <i class="fab fa-medium-m fa-fw"></i></a>
          </li>
          <li class="nav-item mx-1">
            <a href="https://t.me/joinchat/X1nH3P6cYs03ZGIx" target="_blank" title="Telegram" class="nav-link">
              <i class="fab fa-telegram-plane fa-fw"></i></a>
          </li>
          <li class="nav-item mx-1">
            <a href="https://twitter.com/certorainc" target="_blank" title="Twitter" class="nav-link">
              <i class="fab fa-twitter fa-fw"></i></a>
          </li>

          <div class="topbar-divider d-none d-sm-block"></div>
          <li class="nav-item">
            <a href="#" title="User" class="nav-link disabled">
              <span class="mr-2 d-none d-lg-inline text-gray-600 small">Public User</span>
            </a>
          </li>
        </ul>
      </nav>
      <!-- Begin Page Content -->
      <div class="container-fluid">
        <button id="toggle_buttons">Toggle buttons</button>
        <!-- Page Heading -->
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
          <h1 class="h3 mb-0 text-gray-800">Online Editor</h1>
          <!-- <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
                  class="fas fa-download fa-sm text-white-50"></i> Generate Report</a> -->
                <div class="buttons row">
               <!-- <a href="/save" id="save_btn" class="btn btn-primary btn-sm btn-icon-split">
                  <span class="icon text-white-50">
                      <i class="fas fa-play"></i>
                  </span>
<span class="text" id="btnCounterTxt">Start Verification</span>
<span id="btnCounter" class="text"></span>
</a> -->
                <a href="/save" id="save_btn" class="btn btn-primary btn-sm btn-icon-split btn-ver">
                  <span>
                      <i class="fas fa-play text-white"></i>
                  </span>
                  
<span id="btnCounterTxt">Start Verification</span>
<span class="d-flex font-weight-bold">
  <span id="btnCounter"></span>
  <span id="btnDots"></span>
</a>


<a id="results_btn" class="btn btn-sm btn-icon-split hideResults disabled">
                  <span>
                      <i class="fas fa-play text-white"></i>
                  </span>
<span>View Results</span>
</a>
               </div>
        </div>

        <div class="row">

          <!-- Content Column -->
          <div class="col-lg-6 mb-2">

            <!-- Solidity Card -->
            <div class="card shadow">
              <div class="card-header py-3">
                <div class="row">
                  <div class="col-md-3">
                    <h4 class="m-0 font-weight-bold text-primary">Solidity</h4>
                  </div>
                  <div class="col-md-9">
                    <form class="form-inline justify-content-end">
                      <div class="form-group mr-2">
                        <input type="text" class="form-control form-control-sm" id="contract"
                               placeholder="Contract Name" aria-label="Contract Name">
                      </div>
                      <div class="form-group mr-2">
                        <select class="custom-select" id="compiler">
                          <option value="-1" selected="">Compiler</option>
                          <option value="0.4.24">0.4.24</option>
                          <option value="0.5.10">0.5.10</option>
                          <option value="0.6.10">0.6.10</option>
                          <option value="0.7.0">0.7.0</option>
                          <option value="0.8.4">0.8.4</option>
                        </select>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
              <div class="card-body" id="solidity_editor"></div>
            </div>
          </div>

          <!-- Content Column -->
          <div class="col-lg-6 mb-2">

            <!-- Spec Card -->
            <div class="card shadow">
              <div class="card-header py-3">
                <div class="row">
                  <div class="col-md-4">
                    <h4 class="m-0 font-weight-bold text-primary">Spec</h4>
                  </div>
                  <div class="col-md-8">
                    <form class="form-inline justify-content-end">
                      <div class="form-group mr-2">
                        <select class="custom-select form-control-sm" id="font_size">
                          <option selected="">Font size</option>
                          <option value="12">Small</option>
                          <option value="16">Medium</option>
                          <option value="20">Large</option>
                        </select>
                      </div>

                    </form>
                  </div>
                </div>
              </div>
              <div class="card-body" id="spec_editor"></div>
            </div>
          </div>
        </div>


      </div>

      <!-- /.container-fluid -->

<button id="fakeBtn">fake api</button>
<button id="fakeDone">fake Done</button>
<button id="fakeRest">fake reset</button>
<button id="fakeToggle">fake Toggle</button>


<div class="container-fluid">
  <div class="container-fluid card p-0 shadow" >
    <div class="p-0 col error-container" >
    <a data-toggle="collapse" href="#collapseErrors" role="button" aria-expanded="fale" aria-controls="collapseErrors">
    <div class="erro-heading-row row m-0">
      <span class="erro-heading">Problems</span>
      <span class="main-error-badge">2</span>
      <ul class="erro-heading-row-items">
        <li>
            <div class="badge-content"><i class="fas fa-chevron-down animate-chev"></i></div>
        </li>
      </ul>
    </div>
</a>
  <div class="col p-0 collapse show" id="collapseErrors">
    <a data-toggle="collapse" href="#collapseError3" role="button" aria-expanded="true" aria-controls="collapseError3">

      <div class="card-error-heading row">
          <span><i class="fas fa-chevron-down"></i></span>
          <span><i class="fas fa-exclamation-triangle"></i></span>
          <span>solidity</span>
          <span>2</span>
      </div>
    </a>


      <div class="p-0 col collapse show" id="collapseError3" >
        <a>
      <div class="card-error row">
        <span>
          <i class="fas fa-exclamation-triangle"></i>
          <!-- <i>X</i> -->
        </span>

        <span>
          ERC20Fixed.sol: function balanceOf(address account) Relevant source part starts here and spans across multiple lines
        </span>
        <span>[ 85:20 ]</span>
      </div>
    </a>
        <a>
      <div class="card-error row">
        <span>
          <i class="fas fa-exclamation-triangle"></i>
          <!-- <i>X</i> -->
        </span>

        <span>
          ERC20Fixed.sol: function balanceOf(address account) Relevant source part starts here and spans across multiple lines
        </span>
        <span>[ 85:20 ]</span>
      </div>
    </a>

      </div>
  </div>

    </div>
  </div>
</div>


<script>
  let btnCounter = document.querySelector("#btnCounter"),
  toggle_buttons = document.querySelector("#toggle_buttons"),
      btnCounterTxt = document.querySelector("#btnCounterTxt"),
      btnDots = document.querySelector("#btnDots"),
      mainErrorBadge = document.querySelector('.main-error-badge'),
      CollapseErrors = document.querySelector('#collapseErrors'),
      resultsCounter = document.querySelector("#results_btn"),
      btnFakeReset = document.querySelector("#fakeRest"),
      btnFakeToggle = document.querySelector("#fakeToggle"),
      btnFakeDone = document.querySelector("#fakeDone"),
      btnFake = document.querySelector("#fakeBtn")
      let play_stop_btn = document.getElementById('save_btn')

      toggle_buttons.addEventListener("click", ()=>{
        play_stop_btn.classList.toggle("btn-ver-animated")
        resultsCounter.classList.toggle("disabled")
        if(resultsCounter.style.opacity == 0){
          resultsCounter.style.opacity = 1
          return
        }
        resultsCounter.style.opacity = 0
      })
      btnFakeReset.addEventListener("click",()=>{
        mainErrorBadge.hidden = true
        CollapseErrors.textContent =  ""
      })

      btnFakeToggle.addEventListener("click", ()=>{
        togglePlayStop('Starting')
      })
      
  btnFakeDone.addEventListener("click", ()=>{
    // resultsCounter.href = "#test"
    // resultsCounter.classList.remove("hideResults")
    // btnCounter.classList.add("hideResults")
    // btnCounterTxt.classList.add("hideResults")
  })

 
  
  // new error handaling



  // update btn when running
  let is_data_from_progress = false
  let btn_peprocessing = true
  function btnStatusUpdate(finished, total){
      if(finished && total){
        btnCounter.hidden = false
        btnCounter.textContent = `${finished}/${total}`+" "
        togglePlayStop('Running')
        return
      }
      if(btn_peprocessing){
        btn_peprocessing = false
        togglePlayStop("Starting")
      } 
      }

      btnFake.addEventListener("click", ()=>{
    newErrorHandaling()
  })

  //reset dots
  function resetDots(text, bg_reset){
    btnCounterTxt.textContent = text
    if(dots_interval){
      dontsIntervals = false
    clearInterval(dots_interval)
    dots_interval = false
    btnDots.textContent = ''
    }
    if(bg_reset){
      play_stop_btn.classList.remove('btn-no-bg')
    }
  } 

  // this function runs on first submit
  function newErrorHandaling(){
    // refactor with toggle
    resetDots('Start Verification' , true)
    $.getJSON("test.json", function(json) {

      if (!json.topics.length) return
      let mainCounter = 0
      for (let index = 0; index < json.topics.length; index++) {

        const element = json.topics[index];
        let MsgTemplate =""

        for (let index = 0; index < element.messages.length; index++) {
          if (!element.messages.length) return
          const errMsg = element.messages[index];
          mainCounter++
  MsgTemplate += `<div class="card-error row">
  <i class="fas fa-exclamation-triangle"></i>
  <p>
    ${errMsg.message}
  </p>
  ${errMsg.location ? `<a href="#"> [ ${errMsg.location[0] ? errMsg.location[0] : "" }${errMsg.location[1] ? `:${errMsg.location[1]}` : "" } ]</a>` : ""}
</div>`
        }


        if(!element || !element.name || !element.messages.length  ) return
 let MainTemplate  = `<div class="col">
<a class="" data-toggle="collapse" href="#collapseError${index+1}" role="button" aria-expanded="false" aria-controls="collapseError${index+1}">
 <div class="row">
  <i class="fas fa-chevron-down"></i>
  <p>
  ${element.name}
  </p>
  <span class="error-badge">${element.messages.length}</span>
  </div>
</a>
<div class="collapse col " id="collapseError${index+1}">
${MsgTemplate}
</div>
</div>`
     createElementFromHTML(MainTemplate)
     mainErrorBadge.textContent = mainCounter
     mainErrorBadge.hidden = false
      }
});
  }


  // play/stop button api calls
  
  function togglePlayStop( btn_txt){
    btnCounterTxt.innerText = btn_txt+" "
    play_stop_btn.classList.add("btn-no-bg")
    if(!dots_interval){
      startDots(dots_arr, btnDots,  btn_txt)
    }
  }

  // button text change
  let dots_interval
  function startDots(dots_arr, btnDots, btn_txt){
    animateDots(dots_arr, btnDots )
    dots_interval = setInterval(() => {
    animateDots(dots_arr, btnDots )
    }, 4000);
  }
  // dots animation
  let dots_arr = ['','.','..','...']
  let runDots = true
  let dontsIntervals = false
  let dots_timer = 1000
  function animateDots(dots_arr , element){
    dontsIntervals = true
    element.textContent = ''
for (let index = 0; index < dots_arr.length; index++) {
  let dot = dots_arr[index]
  setTimeout(() => {
    if(dontsIntervals){
      element.textContent = dot;
    }
  }, dots_timer*index);

  }
  
}

function createElementFromHTML(htmlString) {
  // refactor for vulnerabilities if any exist
var div = document.createElement('div')
div.innerHTML = htmlString.trim()
CollapseErrors.appendChild(div.firstChild)
}

</script>



    </div>
    <!-- End of Main Content -->

    <div id="resultsContainer" class="container-fluid">
      <!-- main rules table -->
      <div id="main_table"></div>
      <!-- sub tables -->
      <div id="sub_tables"></div>
      <!-- assert tables -->
      <div id="assert_tables"></div>
      <!-- available contracts table -->
      <div id="available_contract_table"></div>
    </div>

    <!-- Footer -->
    <footer class="sticky-footer bg-white">
      <div class="container my-auto">
        <div class="copyright text-center my-auto">
          <span>Copyright &copy; Certora 2021</span>
        </div>
      </div>
    </footer>
    <!-- End of Footer -->

  </div>
  <!-- End of Content Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>




  <div aria-live="polite" aria-atomic="true" style="position: relative; min-height: 200px;" data-delay="5000">
    <!-- Position it -->
    <div style="position: absolute; top: 50px; right: 20px;">

      <!-- Then put toasts within -->
      <div class="toast fade border-left-success hide" role="alert" aria-live="assertive" aria-atomic="true" id="compile-toast">
        <div class="toast-header">
          <strong class="mr-auto">Certora Prover</strong>
          <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="toast-body">Compilation completed successfully. Triggering a verification...</div>
      </div>

      <div class="toast fade border-left-info hide" role="alert" aria-live="assertive" aria-atomic="true" id="verification-toast">
        <div class="toast-header">
          <strong class="mr-auto">Certora Prover</strong>
          <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="toast-body"></div>
      </div>
    </div>
  </div>

</div>


<!-- ace editor -->
<script type="text/javascript" src="../static/ace-builds/src-noconflict/ace.js"></script>
<script type="text/javascript" src="../static/ace-builds/src-noconflict/ext-language_tools.js"></script>

<!-- Bootstrap core JavaScript-->
<script type="text/javascript" src="../static/js/jquery/jquery.min.js"></script>
<script type="text/javascript" src="../static/js/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script type="text/javascript" src="../static/js/jquery-easing/jquery.easing.min.js"></script>
<script type="text/javascript" src="../static/dist/clipboard.min.js"></script>

<!-- Load React -->
<script type="text/javascript"  src="../static/js/fetched/react.production.min.js"></script>
<script type="text/javascript"  src="../static/js/fetched/react-dom.production.min.js"></script>

<!-- Custom scripts -->
<script type="text/javascript" src="../static/js/sb-admin-2.min.js"></script>
<script type="text/javascript" src="../static/js/reactSetup.js"></script>
<script type="text/javascript" src="../static/js/helper.js"></script>
<script type="text/javascript" src="../static/js/verify.js"></script>
</body>
</html>
