let MainTemplate  = `<div class="col">
    <a class="" data-toggle="collapse" href="#collapseError${index+1}" role="button" aria-expanded="false" aria-controls="collapseError${index+1}">
     <div class="row">
      <i class="fas fa-chevron-down"></i>
      <p>
      ${element.name}
      </p>
      <span>2</span>
      </div>
    </a>
  <div class="collapse col " id="collapseError${index+1}">

    <div class="card-error row">
      <i class="fas fa-exclamation-triangle"></i>
      <p>${element.messages[0].message}</p>
      <a href="#"> [${element.messages[0].location[0]}:${element.messages[0].location[1]}]</a>

    </div>
    <div class="card-error row">
      <i class="fas fa-exclamation-triangle"></i>
      <p>
        ${element.messages[0].message}
      </p>
      <a href="#"> [${element.messages[0].location[0]}:${element.messages[0].location[1]}]</a>
    </div>
    <div class="card-error row">
    <i class="fas fa-exclamation-triangle"></i>
    <p>
      ${element.messages[0].message}
      </p>
      <a href="#"> [${element.messages[0].location[0]}:${element.messages[0].location[1]}]</a>
    </div>

  </div>
</div>`

<!-- json injectio -->

<!-- {
  "name": "spec",
  "messages": [
      {
          "message": "<img src onerror='alert(`It's a Trap!`)'>",
          "location": [85],
          "type":"error"
      }
  ]
}, -->

<!-- fake api function -->
<script>




btnFake.addEventListener("click",()=>{
  newErrorHandaling(res)
  $.getJSON("fake-res-from-running.json", function(json) {
      let fakeRes = JSON.parse(json.verificationProgress)
      // get the total number of rules
      console.log(json)
      console.log(fakeRes.rules.length)
      let updatedBtn = 0
      // check how many rules are still running
      fakeRes.rules.forEach(rule => {
        if(rule.status !== "RUNNING")
        updatedBtn++
      });
      btnStatusUpdate(updatedBtn, res.rules.length)

      // results btn logic
      if(updatedBtn === fakeRes.rules.length, res.rules.length ){
        // unising a button for now ***btnFakeDone.addEventListener***
      }
  })

})

</script>
